@using Telerik.Web.Mvc.UI

@section Information
{
    <p>
        To book a field trip, select the areas you want to visit as well as the needed equipment and sleeping places. Then, use the filter options in the green box on the left to preselect the region and the resource type (area, objects, and sleeping places). After choosing all resources, press the ”Continue booking” button.
        In a second step, fill out the forms for each resource with all necessary information: period, accompanying persons, number of needed resources (only for equipment), and add the reason for your visit (only for areas).
    </p>

    <b>Note: Book sleeping places separately for every person.</b>

    <p>
        <a href="https://github.com/bexis/Documents/blob/master/HowTo/HowToFieldWork.md" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>
}

<table id="enterSchedules">
    <tr>
        <th>Filter</th>
        <th>Available Resources</th>
        <th><div class="bx bx-shopping-cart"></div>Selected Resources</th>
    </tr>
    <tr>
        <td id="filter" style="width: 5%;"><div id="Content_Filter" class="overlay"></div></td>
        <td id="resources" style="width: 50%;"><div id="Content_Resources"></div></td>
        <td id="schedules">
            <div id="Content_Schedules" onchange="onSchedulesChange()"></div>
        </td>
    </tr>
</table>


<style type="text/css">

        /*Table*/

        #enterSchedules td {
            vertical-align: top;
            /*border: none !important;*/
            border: none !important;
        }

        /*#enterSchedules th {
         vertical-align:top;
          border: none !important;

    }*/

        #filter {
            border-left: 2px solid #e8eef4;
            border-bottom: 2px solid #e8eef4;
            border-right: none;
        }

        #resources {
            border-right: 2px solid #e8eef4;
            border-bottom: 2px solid #e8eef4;
            border-left: none;
        }

        #schedules {
            border: 2px solid #e8eef4;
        }

        /*Button*/
        #addToEvent {
            /*margin-left: 78%;*/
        }

        /*List*/
        #userList {
            list-style: none;
            padding-left: 0em;
            margin-left: 0em;
        }

            #userList li {
                display: block;
            }
</style>

<script type="text/javascript">

    $(document).ready(function () {

    $.get('@Url.Action("ResourceFilter", "Schedule")', function (data) {

        $('#Content_Filter').html(data);
    }   );


        $.get('@Url.Action("LoadResources", "Schedule")', function (data) {

            $('#Content_Resources').html(data);
        });

        $.get('@Url.Action("SelectedResources", "Schedule")', {}, function (data) {

            $('#Content_Schedules').html(data);
        });
    });

    function onSchedulesChange()
    {
        //var d = $('#Content_Schedules').text();
        //if (d == "") {
        //    $('#CreateEvent').Attr("disabled", "disabled");
        //    $('#CreateEvent').AddClass("bx-disabled");
        //}
        //else {

        //    $('#CreateEvent').RemoveAttr("disabled", "disabled");
        //    $('#CreateEvent').RemoveClass("bx-disabled");
        //}
    }

</script>


