@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<BookingEventModel>

@{
                /**/

                GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
                pagerStyles |= GridPagerStyles.NextPreviousAndNumeric;
                pagerStyles |= GridPagerStyles.Numeric;
}

<table id="booking_table" class="display" style="width:100%">
    <thead>
        <tr>

            <th title="Name">Name</th>
            <th title="Description">Description</th>
            <th title="Start date">Start date</th>
            <th title="End date">End date</th>
        
        </tr>
    </thead>
    <tbody>


        @foreach (var m in Model)
        {
            <tr>
                <td><a href="../../RBM/Schedule/Show/@m.Id">@m.Name</a></td>
                <td>@m.Description</td>
                <td>@m.startDate.ToString("dd.MM.yyyy")</td>
                <td>@m.endDate.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    $(document).ready(function () {

        resetAllTelerikIconTitles();
        addTooltips();
jQuery.fn.dataTable.render.ellipsis = function ( cutoff, wordbreak, escapeHtml ) {
    var esc = function ( t ) {
        return t
            .replace( /&/g, '&amp;' )
            .replace( /</g, '&lt;' )
            .replace( />/g, '&gt;' )
            .replace( /"/g, '&quot;' );
    };
 
    return function ( d, type, row ) {
        // Order, search and type get the original data
        if ( type !== 'display' ) {
            return d;
        }
 
        if ( typeof d !== 'number' && typeof d !== 'string' ) {
            return d;
        }
 
        d = d.toString(); // cast numbers
 
        if ( d.length <= cutoff ) {
            return d;
        }
 
        var shortened = d.substr(0, cutoff-1);
 
        // Find the last white space character in the string
        if ( wordbreak ) {
            shortened = shortened.replace(/\s([^\s]*)$/, '');
        }
 
        // Protect against uncontrolled HTML input
        if ( escapeHtml ) {
            shortened = esc( shortened );
        }
 
        return '<span class="ellipsis" title="'+esc(d)+'">'+shortened+'&#8230;</span>';
    };
};

            $("#booking_table").DataTable({
                "autoWidth": false,
                ordering: true,
                paging: false,
                responsive: true,
                "columns": [
                    { "width": "30%" },
                    { "width": "40%" },
                    null,
                    null,
                   
                ],
    columnDefs: [
     {
      targets: 1,
      render: $.fn.dataTable.render.ellipsis( 60, true )
    }]
            });

});

</script>