@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Booking;

@model List<ScheduleListModel>

@{
    GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
    pagerStyles |= GridPagerStyles.NextPreviousAndNumeric;
    pagerStyles |= GridPagerStyles.Numeric;
}

<div id="events">
    @(Html.Telerik().Grid(Model)
        .Name("Grid_Resource")
        .Columns(columns =>
        {
            columns.Bound(r => r.EventName);
            columns.Bound(r => r.EventDescription);
            columns.Bound(r => r.ResourceName);
            columns.Bound(r => r.Quantity);
            columns.Bound(r => r.ContactPerson);
            columns.Bound(r => r.ReservedFor);
            columns.Bound(r => r.StartDate);
            columns.Bound(r => r.EndDate);
            columns.Bound(r => r.Activities);
        })
        .Pageable(paging =>
         paging
                    .Style(pagerStyles)
                    .PageSize(10)
                    .Position(GridPagerPosition.Both)
                    )
        .Filterable()
    )
</div>


<script type="text/javascript">

    $(document).ready(function () {

        resetAllTelerikIconTitles();
        addTooltips();
    })

</script>