@using Vaiona.Web.Mvc;
@section Information
{
    This guide will walk you through the basics of using the resource booking management tool. That include the administration and the booking part.
}
@section leftPane{

<div class="toc">
    <p style="font-weight:bold">Resource Booking Management - Booking Resources</p>
    <br />
    <a href="#_Toc434570748">1. Overview</a>
    <p></p>
    <a href="#_Toc434570753">&emsp;1.1 Event</a>
    <p></p>
    <a href="#_Toc434570753">&emsp;1.2. Schedule</a>
    <p></p>
    <a href="#_Toc434570749">2. Schedule Resources</a>
    <p></p>
    <a href="#_Toc434570753">&emsp;2.1 Calendar</a>
    <p></p>
    <a href="#_Toc434570753">&emsp;2.2. Resource Selection</a>
    <p></p>
    <a href="#_Toc434570750">3. Unit Manager</a>
    <p></p>
    <a href="#_Toc434570751">4. Data Attribute Manager</a>
    <p></p>
    <a href="#_Toc434570752">5. Data Structure Manager</a>
    <p></p>
    <a href="#_Toc434570753">&emsp;5.1. Create a Data Structure</a>
    <p></p>
    <a href="#_Toc434570754">&emsp;5.2. Add Variables</a>
    <p></p>
    <a href="#_Toc434570755">&emsp;5.3. Create a copy data structure</a>
    <p></p>
    <a href="#_Toc434570756">&emsp;5.4. Download an Excel template</a>
    <p></p>
    <p style="font-weight:bold">Resource Booking Management - Administration</p>
    <br />
</div>

}

