@using BExIS.Web.Shell.Areas.RBM.Models.Resource;

@model List<ResourceGroupManagerModel>

<table id="resourceGroupTable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                Select
            </th>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="t-button t-button-icontext t-button-bare">
                        <div id="chooseResourceGroup" class="t-icon t-add" onclick="ChooseResource(@item.Id, '@item.Name')"></div>
                    </div>
                </td>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#resourceGroupTable').DataTable();

    });
</script>