@using Telerik.Web.Mvc.UI
@using BExIS.Web.Shell.Areas.RBM.Models.Resource;

@model List<ResourceGroupManagerModel>

@(Html.Telerik().Grid(Model)
        .Name("Grid_ResourceGroups")
        .DataKeys(keys =>
        {
            keys.Add(r => r.Id);
        })
       
        .Columns(columns =>
        {
            columns.Template(
                        @<text>
                                <div class="t-button t-button-icontext t-button-bare">
                                    <div id="chooseResourceGroup" class="t-icon t-add" onclick="ChooseResource(@item.Id, '@item.Name')"></div>
                                </div>
                        </text>
                        ).Title("Choose Resource Group")
                        .Width(50);
                        
            columns.Bound(r => r.Id).Width(50);
            columns.Bound(r => r.Name).Width(100);       
            
        })
                    .Filterable()
                    .Sortable(sortable => sortable
                        .OrderBy(orderby => orderby
                            .Add(r => r.Id).Descending()))
                    .Scrollable()
                    
                                  )
